@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-success {
    @apply border-red-400 text-red-400;
  }
}

:root {
  --color-primary-dark: #0070f3;
  --color-primary: #0096c7;
  --color-accent: #e30613;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.link-button {
  color: inherit;
  text-decoration: none;
}
.btn {
  outline: none;
  cursor: pointer;
}
.btn,
.link-button {
  border: 1px solid var(--color-primary-dark);
  padding: 4px 15px;
  color: var(--color-primary-dark);
  transition: all 0.3s ease-in-out;
}

.btn.btn-danger {
  border-color: #c95b63;
  color: #c95b63;
}

table {
  border-collapse: collapse;
  width: 100%;
}
table td,
table th {
  text-align: left;
  padding: 3px;
  border-top: 1px solid #ccc;
  font-size: 12px;
}

.field {
  outline: none;
  border: 1px solid #ccc;
  padding: 8px 10px;
  width: 100%;
}
.field:focus {
  border-color: var(--color-primary);
}
